<html>

<head>
    <link rel="stylesheet" href = {{ url_for('static', filename='styles.css') }}>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
          console.log(data.result);
        $("#result").text(data.result);
      });
      return false;
    });
  });
  $(function() {
    $('div.player_one').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_random_num', {
      }, function(data) {
          console.log(data);
        $("div.player_one").css({"background-image": url("/static/" + data.result)})
      });
      return false;
    });
  });
</script>
</head>


<body>

<div class="wrapper_body">
    <div> left </div>
    <div class="center">

        <div class="square player_one">left half</div>
        <div class="square player_two">right half</div>

    </div>
    <div>


    </div>
</div>


</body>




</html>